@import url('https://fonts.googleapis.com/css?family=Raleway:600,700&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

.content {
    padding-top: 75px;
    font-size: 17px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#register {
    padding-top: 90px;
}

#landing {
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;

    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    z-index: 0;
}

.back-landing {
    visibility: hidden;
    position: absolute;
    height: 50px !important;
    width: 50px !important;
    z-index: -1;
}

#connect {
    width: 275px;
    transition: 2s;
}

#label, #flicker {
    font-size: 100px;
}

#flicker {
    visibility: visible;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}