{% extends "base.html" %}

{% block title %}
assemblr_
{% endblock %}

{% block body %}
<div class="container-fluid m-auto">
    <div id="landing">
        {{ super() }}
        <div>
            <span id="label"></span><span id="flicker">|</span>
        </div>
        <a id="connect" href=/connect_to_github role="button" class="btn btn-lg btn-dark">Connect to GitHub</a>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/landing.js') }}"></script>
{% endblock %}

<!-- <div class="row">
    <div class="col text-left">
        {% if session['user_languages'] %}
            {% for key, val in session['user_languages'].items() %}
            <div>
                <span class="dot" style="background-color: {{ val }}"></span>
                {{ key }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div> -->

