{% extends "base.html" %} {% block title %} Friends {% endblock %} {% block body
%}
<div class="container-fluid mt-5">
	<div class="row">
		<div class="col-md-3 mb-5">
			<div class="card">
				<h3 class="card-header">TEST DUMMY</h3>
				<div class="card-body">
					<h4>GitHub: MattChann</h4>
					<h4>Email: nothx@dontemailme.com</h4>
					<br />
					<a href="/profile/0" class="btn btn-primary btn-lg btn-block"
						>View Profile</a
					>
				</div>
			</div>
		</div>
		{% for user in friends %}
		<div class="col-md-3 mb-5">
			<div class="card">
				<h3 class="card-header">{{user.firstname}} {{user.lastname}}</h3>
				<div class="card-body">
					<h4>GitHub: {{user.github}}</h4>
					<h4>Email: {{user.email}}</h4>
					<br />
					<a
						href="/profile/{{user.uid}}"
						class="btn btn-primary btn-lg btn-block"
						>View Profile</a
					>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
