{% extends "base.html" %}

{% block title %} projects {% endblock %}

{% block body %}
<div class="container-fluid content">
    this is the projects page
    <!-- <form action='/projects' method='POST'>
        <button type='submit' class='btn btn-dark'>Create Repository</button>
    </form> -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#createRepository">
        New Project
    </button>
    <div id="createRepository" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action='/projects' method='POST'>
                    <div class="modal-header">
                        <h4 class="modal-title w-100">
                            <input name='name' type='text' class='form-control' id='name' value='' placeholder='repository name' required>
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input name='description' type='text' class='form-control' id='description' value='' placeholder='description'>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Create Repository</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}