{% extends "base.html" %}

{% block scroll %}
<html style="overflow-y:scroll">
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block color %}
{% endblock %}

{% block nav %}
<div style="margin-top: 20px;">
    <a href="./" class="nav-content">ASSEMBLR</a>
</div>
{% endblock %}

{% block body %}
<div id="landing">
    <form class="p-5 bg-light text-dark text-center" action="/register" method="POST">
        <p class="lead font-weight-bolder">REGISTER</h1>
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email</label>
                <input name="email" type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group mr-1" style="float: left;">
                <label for="firstname" class="font-weight-bold">First Name</label>
                <input name="firstname" type="text" class="form-control" id="firstname" required>
            </div>
            <div class="form-group" style="float:right;">
                <label for="lastname" class="font-weight-bold">Last Name</label>
                <input name="lastname" type="text" class="form-control" id="lastname" required>
            </div>
            <br>
            <div class="form-group" style="float:left;">
                <label for="age" class="font-weight-bold">Age</label>
                <input name="age" type="number" class="form-control" id="age" required>
            </div>
            <div class="form-group" style="float:right;">
                <label for="city" class="font-weight-bold">City</label>
                <input name="city" type="text" class="form-control" id="city" required>
            </div>
            <div class="form-group">
                <label for="bio" class="font-weight-bold">Bio</label>
                <input name="bio" type="text" class="form-control" id="bio" required>
            </div>
            <div class="font-weight-bold" style="float: none">Roles</div>
            <div style="float: left;">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="frontend">
                    <label class="custom-control-label" for="frontend">Frontend</label>
                </div>
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="backend">
                    <label class="custom-control-label" for="backend">Backend</label>
                </div>
            </div>
            <div style="float: right;">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="design">
                    <label class="custom-control-label" for="design">Design</label >
                </div>
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="projectmanager">
                    <label class="custom-control-label" for="projectmanager">Project Manager</label>
                </div>
            </div>
            <br>
            <br>
            <div class="font-weight-bold">Skills</div>
            <div style="float: left;">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="frontend">
                    <label class="custom-control-label" for="frontend">Frontend</label>
                </div>
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="backend">
                    <label class="custom-control-label" for="backend">Backend</label>
                </div>
            </div>
            <div style="float: right;">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="design">
                    <label class="custom-control-label" for="design">Design</label >
                </div>
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="projectmanager">
                    <label class="custom-control-label" for="projectmanager">Project Manager</label>
                </div>
            </div>
            <div class="form-group" style="float:left">
                <label for="password" class="font-weight-bold">Password</label>
                <input name="password" type="password" class="form-control" id="password" required>
            </div>
            <div class="form-group" style="float:right">
                <label for="password2" class="font-weight-bold">Confirm Password</label>
                <input name="password2" type="password" class="form-control" id="password2" required>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Register</button>
            <br>
            <a href=/login class="badge badge-light mt-3">Already have an account? Login</a>
    </form>
</div>
{% endblock %}