{% extends "base.html" %}

{% block title %}
{{ teamName }}
{% endblock %}

{% block body %}
<div style="font-family: Lexend Deca, serif;">
<p >Team Name: {{ teamName }}</p>

<p style="font-size: 30px;">Members</p>
{% for member in members %}
{{ member.firstname }} {{ member.lastname }}
<br>
{% endfor %}
</div>

<a href="/new_project" class="btn btn-primary">Create new project</a>

{% for project in projects %}
<div class="card">
    <h3 class="card-header">{{ project.projectname }}</h3>
    <div class="card-body">
        <h4>Description: {{ project.description }}</h4>
        <br>
        <a href="/project/{{project.id}}" class="btn btn-primary btn-lg btn-block">View Project</a>
    </div>
</div>
{% endfor %}
{% endblock %}